# Cổng nginx (202.92.6.143) proxy tới; phải không trùng app khác trên 202.92.6.172
APP_PORT=5599
WEB_ORIGIN=https://reminder.nguyenvando.com
# openssl rand -hex 24
POSTGRES_PASSWORD=
# openssl rand -hex 32
SESSION_SECRET=
TELEGRAM_BOT_TOKEN=
# npx web-push generate-vapid-keys
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:thesunbg@gmail.com
